<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.android_app_login">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_my_app"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_my_app_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Android_App_Login">
    <activity android:name=".InitActivity" />
    <activity android:name=".Lista2Activity" />
    <activity android:name=".Lista1Activity" />
    <activity android:name=".activities.Login.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWProgressBar"
      android:parentActivityName=".activities.Main.PrincipalActivity"/>
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWRatingBar"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Login.CadastroActivity"
      android:parentActivityName=".activities.Login.MainActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWToggleButton"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWSwitch"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWSpinner"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWRadioButton"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWCheckBox"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWButton"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWEditText"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.uiwidgets.Activity_uIWTextView"
      android:parentActivityName=".activities.Main.PrincipalActivity" />
    <activity
      android:name=".activities.Main.PrincipalActivity"
      android:parentActivityName=".activities.Login.MainActivity" />
    <activity android:name=".activities.Login.MainActivity" />
  </application>

</manifest>